h1 {
    color: black;
    font-size: 50px;
    text-align: center;
}

.links {
    margin: auto;
    width: fit-content;
}

img {
    width: 400px;
    /* height: 400px; */
}

a {
    text-align: center;
    color: darkgrey;
    text-decoration: none;
    font-size: 20px;
}